*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/** {
	box-shadow: 0 0 0 3px red inset;
}*/
html {
	font-size: 62.5%;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(-135deg, #292929, #1b1b1b);
	width: 100vw;
	min-height: 100vh;
}
.global-container {
	min-width: 178px;
	min-height: 178px;
	width: 39vw;
	height: 39vw;
	border-radius: 10%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: -8px 8px 20px #1b1b1b;
}

.coca-cola-text {
	width: 179%;
}
.coca-cola-image {
	width: 30%;
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translate(-50%, -50%);
	z-index: 1;
}
.out {
	left: -20%;
	opacity: 0;
	transition: all 0.2s ease-out;
}
.in {
	left: 50%;
	opacity: 1;
	transition: all 0.2s ease;
}
.right {
	left: 120%;
	opacity: 0;
}
.click-btn {
	width: 16%;
	height: 9%;
	position: absolute;
	top: 87%;
	left: 81%;
	opacity: 0;
}
.click-btn:hover {
	cursor: url(assets/cursor.png), pointer;
}
.description {
	position: absolute;
	left: 5%;
	color: white;
	font-family: sans-serif;
	width: 27%;
}
.taste {
	font-size: clamp(0.8rem, 1vw, 2rem);
	margin-bottom: 1vw;
}
.detail {
	font-size: clamp(0.4rem, 1vw, 1.2rem);
}
.description-in {
	top: 78%;
	opacity: 1;
	transition: all 0.2s ease;
}
.description-out {
	top: 90%;
	opacity: 0;
	transition: all 0.2s ease;
}
.description-top {
	top: 50%;
	opacity: 0;
	transition: all 0.2s ease;
}
